<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <div>
      <button class="logout__btn" @click="logout">Logout</button>
    </div>
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
    HelloWorld,
  },
})
export default class Home extends Vue {
  public logout() {
    this.$store.dispatch('logout').then(() => {
      this.$router.push('/');
    });
  }
}
</script>
<style scoped>
.home {
  text-align: center;
}

.logout__btn {
  padding: 10px 20px;
  background: lightcoral;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
</style>
