<template>
  <div class="login">
    <div class="login-details__container">
      <h4>Login</h4>
      <div class="login__form-field">
        <form @submit.prevent="login">
          <div class="form__input">
            <input
              type="text"
              v-model="user.email"
              placeholder="Enter Email"
              @input="newEmail"
              
            />
            <div>
              <div v-if="hasError">
                <div class="error__message" v-if="errorList[errorList.length - 1].field == 'email_or_phone_number'" >
                  {{ errorList[errorList.length - 1].message[0] }}
                </div>                
              </div>             

            </div>
          </div>
          <div class="form__input">
            <input
              type="password"
              v-model="user.password"
              name=""
              id=""
              placeholder="Enter Password"
              @input="newPass"
            
            />
          </div>
          <div>
              <!-- <div v-if="hasError">
                <div v-if="errorList[errorList.length - 1].field == 'email_or_phone_number'" >
                  {{ errorList[errorList.length - 1].message[0] }}
                </div>                
              </div>  -->
              <div v-if="hasError">
                <div class="error__message" v-if="errorList[errorList.length - 1].field == 'non_field_errors'" >
                  {{ errorList[errorList.length - 1].message[0] }}
                </div>                
              </div>   
              <div v-if="hasError">
                <div class="error__message" v-if="errorList[errorList.length - 1].field == 'password'" >
                  {{ errorList[errorList.length - 1].message[0] }}
                </div>                
              </div>         

            </div>
          <!-- <div class="error__message" v-if="hasError" >
            <p>{{ errorList[errorList.length - 1] }}</p>
          </div> -->
          <div>
            <button class="login__btn" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { UserCredentials, Error } from '@/types/models';
import { AuthModule } from '@/store/modules/auth';

@Component({
  name: 'Login',
  components: {},
})
export default class Login extends Vue {
  public user: UserCredentials = {
    email: '',
    password: '',
  };

  // public error = '';
  get errorList(): Error[] {
    return AuthModule.errorList;
  }
  get hasError(): boolean {
    return AuthModule.hasError;
  }
  mounted () {
    this.$store.commit('SET_ERROR_DATA', false);
    //this.$store.commit('SET_ERROR', null);
  }

  newPass() {
     this.$store.commit('SET_ERROR_DATA', false);

  }

  newEmail() {
    this.$store.commit('SET_ERROR_DATA', false);

  }



  public async login() {
    console.log(this.user);
    try {
      await this.$store.dispatch('login', this.user).then((response) => {
        console.log(response);
        console.log('Entered Auth module is authenticate');
        this.$router.push('/home');
      });
    } catch (e) {
      console.log('Login errooooor at vue');
      console.log(e);
      console.log(e);
      console.log('Login errooooor at vue');

    }
  }
}
</script>

<style scoped>
.login {
  /* background: #3c1874; */
  background-image: linear-gradient(
    to top right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
  height: 100vh;
  width: 100%;
  position: relative;
}

.login-details__container {
  width: 400px;
  background: white;
  padding: 10px;
  text-align: center;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  vertical-align: middle;
  position: absolute;
  margin-top: 205px;
  margin-left: 540px;
}

.login-details__container h4 {
  font-size: 24px;
  border-bottom: 1px solid #283747;
  text-transform: uppercase;
  line-height: 1.6;
}

.form__input {
  margin: 20px 0;
}

input {
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
}

.login__btn {
  padding: 10px 20px;
  background: crimson;
  /* background-image: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,1)); */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
}

.login__btn:hover {
  background: darkred;
}

.error__message {
  color: red;
  font-size: 14px;
  font-weight: 600;
}
</style>
